* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #f9f9f6;
}

nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--gray-blue-grey-blue-95, #EDEFF2);
}
nav .navbar .menu {
  order: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
nav .navbar .menu img {
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}
nav .navbar .menu h4 {
  color: var(--gray-blue-grey-blue-50, #4d5e80);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
nav .navbar .links {
  order: 2;
}
nav .navbar .links ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
nav .navbar .links ul a {
  text-decoration: none;
  color: var(--gray-blue-grey-blue-70, #7d8fb3);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  padding: 3px;
}
nav .navbar .links ul .points {
  display: flex;
  align-items: center;
  gap: 3px;
}
nav .navbar .links ul .points .another {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #9e8f8f;
}
nav .navbar .search {
  width: 298px;
  order: 3;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}
nav .navbar .search input {
  outline: none;
  border: none;
  color: #ADB8CC;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
nav .navbar .account-circle {
  order: 5;
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .navbar .account-circle p {
  color: #6B7A99;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 192.308% */
}
nav .navbar .profile {
  order: 6;
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 30px;
}
nav .navbar .profile .images {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
nav .navbar .profile .images img {
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}
nav .navbar .profile .images > :nth-child(1) {
  order: 2;
}
nav .navbar .profile .images > :nth-child(2) {
  order: 2;
}
nav .navbar .profile .images > :nth-child(3) {
  order: 1;
  display: none;
}
nav .navbar .profile .images > :nth-child(4) {
  order: 4;
  display: none;
}
nav .navbar .profile .images .red-dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: red;
  position: absolute;
  top: 3px;
  right: 65px;
}

.basic {
  display: flex;
  justify-content: space-between;
}
.basic .nav {
  padding: 30px 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 304px;
  border-right: 2px solid var(--gray-blue-grey-blue-95, #EDEFF2);
}
.basic .nav .tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}
.basic .nav .tools img {
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}
.basic .nav .tools .red-dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: red;
  position: absolute;
  top: 152px;
  left: 38px;
}
.basic .nav .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: relative;
}
.basic .nav .contacts .img {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 200px;
}
.basic .nav .contacts > a {
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}
.basic .nav .contacts .blue-dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: blue;
  position: absolute;
  top: 0px;
  left: 35px;
}
.basic #card-data {
  padding: 30px;
  max-width: 516px;
  flex-wrap: nowrap;
}
.basic #card-data .carousel {
  display: none;
}
.basic .cards1 {
  position: relative;
  display: flex;
  gap: 30px;
}
.basic .cards1 .lineman {
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: red;
  left: 367px;
  top: 65px;
  border-radius: 1px;
}
.basic .cards1 .main-card {
  width: 350px;
  height: 210px;
  background: linear-gradient(#FFA346 0%, #e0c31d 100%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 30px 60px 0px rgba(230, 46, 46, 0.15);
}
.basic .cards1 .main-card .card-balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basic .cards1 .main-card .card-balance h1 {
  color: var(--white-white, #FFF);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.basic .cards1 .main-card .card-balance h4 {
  color: var(--white-white, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.basic .cards1 .main-card .card-number {
  display: flex;
  gap: 15px;
  align-items: center;
}
.basic .cards1 .main-card .card-number .dots {
  display: flex;
  gap: 3px;
}
.basic .cards1 .main-card .card-number .dots .dot {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: white;
}
.basic .cards1 .main-card .card-number h4 {
  color: var(--white-white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.basic .cards1 .main-card .card-owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basic .cards1 .main-card .card-owner h4 {
  color: var(--white-white, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.basic .cards1 .main-card .card-owner .ellips1 {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: red;
  transform: translate(67px);
}
.basic .cards1 .main-card .card-owner .ellips2 {
  opacity: 0.7;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #FF5F00;
}
.basic .cards1 .other-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.basic .cards1 .other-cards .card {
  border-radius: 3px;
  box-shadow: 0px 1px 63px 0px rgba(244, 239, 255, 0.2) inset;
  width: 65px;
  height: 40px;
  padding: 4px 7px;
  cursor: pointer;
}
.basic .cards1 .other-cards .card h4 {
  color: var(--white-white, #FFF);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
}
.basic .cards1 .other-cards .card .ellipses {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}
.basic .cards1 .other-cards .card .ellipses .ellips3 {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: transparent;
  background-color: red;
  transform: translate(4px);
}
.basic .cards1 .other-cards .card .ellipses .ellips4 {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: transparent;
  background-color: #FF5F00;
  opacity: 0.6;
}
.basic .cards1 .other-cards .card1 {
  background: linear-gradient(197deg, #6246FF 0%, #FFB9B9 100%);
}
.basic .cards1 .other-cards .card2 {
  background: linear-gradient(197deg, #FFA346 0%, #F2E32E 100%);
}
.basic .cards1 .other-cards .card3 {
  background: linear-gradient(197deg, #3B3B3B 0%, #767676 100%);
}
.basic .circle-graph {
  margin-top: 75px;
  background-color: #fff;
  border-radius: 10px;
}
.basic .circle-graph .graph-groups {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 15px;
  border-bottom: 2px solid var(--gray-blue-grey-blue-95, #EDEFF2);
}
.basic .circle-graph .graph-groups .group-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.basic .circle-graph .graph-groups .group-left img {
  padding: 6px;
  border-radius: 100px;
  border: 2px solid var(--gray-blue-grey-blue-97, #F5F6F7);
  background: var(--white-white, #FFF);
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}
.basic .circle-graph .graph-groups .group-left a {
  text-decoration: none;
  color: var(--purple-purple, #83F);
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
}
.basic .circle-graph .graph-groups .group-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.basic .circle-graph .graph-groups .group-right a {
  text-decoration: none;
  color: var(--gray-blue-grey-blue-70, #7D8FB3);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.basic .circle-graph .graph-groups .group-right .another {
  display: flex;
  gap: 3px;
  padding: 17px 9px;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  cursor: pointer;
}
.basic .circle-graph .graph-groups .group-right .another > div {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(184, 182, 182);
}
.basic .circle-graph .circle-graph-flex {
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 94px;
}
.basic .circle-graph .circle-graph-flex .circle-graph-bottom .pricing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.basic .circle-graph .circle-graph-flex .circle-graph-bottom .pricing .price {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 6px 20px 6px 15px;
  border-radius: 20px;
  border: 2px solid var(--gray-blue-grey-blue-97, #F5F6F7);
  background: var(--white-white, #FFF);
  /* Shadows/Gray Blue 30/3%/5b */
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}
.basic .circle-graph .circle-graph-flex .circle-graph-bottom .pricing .price p {
  color: var(--gray-blue-grey-blue-70, #7D8FB3);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.basic #right-section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-right: 2px solid var(--gray-blue-grey-blue-95, #EDEFF2);
}
.basic #right-section .account {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.basic #right-section .account .account-top {
  display: flex;
  align-items: center;
  gap: 224px;
}
.basic #right-section .account .account-top .another {
  display: flex;
  gap: 3px;
  cursor: pointer;
  padding: 5px;
}
.basic #right-section .account .account-top .another > div {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(221, 214, 214);
}
.basic #right-section .account .account-image {
  padding: 15px;
  border-bottom: 2px solid #8833FF;
  border-left: 2px solid #8833FF;
  border-right: 2px solid #8833FF;
  border-top: 2px solid #f2f3f5;
  border-radius: 200px;
  position: relative;
  transform: rotate(45deg);
}
.basic #right-section .account .account-image img {
  border-radius: 200px;
  width: 110px;
  height: 110px;
  overflow: hidden;
  transform: rotate(-45deg);
}
.basic #right-section .account .account-image .plus {
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  background: var(--orange-orange, #F63);
  transform: scale(0.4);
  position: absolute;
  top: -50px;
  right: -42px;
  cursor: pointer;
}
.basic #right-section .account .account-name h3 {
  color: var(--gray-blue-grey-blue-60, #6B7A99);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.basic #right-section .about-cards .about-cards-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basic #right-section .about-cards .about-cards-top h4 {
  color: var(--gray-blue-grey-blue-60, #6B7A99);
  font-size: 12px;
  font-weight: 700;
}
.basic #right-section .about-cards .about-cards-top .another {
  display: flex;
  gap: 3px;
  cursor: pointer;
  padding: 5px;
}
.basic #right-section .about-cards .about-cards-top .another > div {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(221, 214, 214);
}
.basic #right-section .about-cards .about-cards-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 25px;
}
.basic #right-section .about-cards .about-cards-cards .about-card {
  display: flex;
  justify-content: space-between;
}
.basic #right-section .about-cards .about-cards-cards .about-card .card {
  border-radius: 3px;
  box-shadow: 0px 1px 63px 0px rgba(244, 239, 255, 0.2) inset;
  width: 65px;
  height: 40px;
  padding: 4px 7px;
  cursor: pointer;
}
.basic #right-section .about-cards .about-cards-cards .about-card .card h4 {
  color: var(--white-white, #FFF);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
}
.basic #right-section .about-cards .about-cards-cards .about-card .card .ellipses {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}
.basic #right-section .about-cards .about-cards-cards .about-card .card .ellipses .ellips3 {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: transparent;
  background-color: red;
  transform: translate(4px);
}
.basic #right-section .about-cards .about-cards-cards .about-card .card .ellipses .ellips4 {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: transparent;
  background-color: #FF5F00;
  opacity: 0.6;
}
.basic #right-section .about-cards .about-cards-cards .about-card .card1 {
  background: linear-gradient(197deg, #6246FF 0%, #FFB9B9 100%);
}
.basic #right-section .about-cards .about-cards-cards .about-card .card2 {
  background: linear-gradient(197deg, #FFA346 0%, #F2E32E 100%);
}
.basic #right-section .about-cards .about-cards-cards .about-card .card3 {
  background: linear-gradient(197deg, #3B3B3B 0%, #767676 100%);
}
.basic #right-section .about-cards .about-cards-cards .about-card .about-card-text h4 {
  color: var(--gray-blue-grey-blue-70, #7D8FB3);
  font-size: 12px;
  font-weight: 700;
}
.basic #right-section .about-cards .about-cards-cards .about-card .about-card-text h3 {
  color: var(--gray-blue-grey-blue-60, #6B7A99);
  font-size: 12px;
  font-weight: 900;
}
.basic #right-section .about-cards .about-cards-cards .about-card .previous img {
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  cursor: pointer;
}
.basic #right-section .right-section-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.basic #right-section .settings .settings-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basic #right-section .settings .settings-top h4 {
  color: var(--gray-blue-grey-blue-60, #6B7A99);
  font-size: 12px;
  font-weight: 700;
}
.basic #right-section .settings .settings-top .another {
  display: flex;
  gap: 3px;
  cursor: pointer;
  padding: 5px;
}
.basic #right-section .settings .settings-top .another > div {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(221, 214, 214);
}
.basic #right-section .settings .settings-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 25px;
}
.basic #right-section .settings .settings-bottom .set {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.basic #right-section .settings .settings-bottom .set img {
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}
.basic #right-section .settings .settings-bottom .set h5 {
  color: var(--gray-blue-grey-blue-60, #6B7A99);
  font-size: 12px;
  font-weight: 700;
}
.basic #right-section .right-section-bottom {
  padding: 26px 85px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: var(--yellow-yellow-10, rgba(255, 203, 51, 0.1));
}
.basic #right-section .right-section-bottom .help h5 {
  color: var(--orange-orange, #F63);
  font-size: 12px;
  font-weight: 700;
}
.basic #right-section .right-section-bottom .number h4 {
  color: var(--purple-purple, #83F);
  font-size: 12px;
  font-weight: 900;
}
.basic #cashback {
  max-width: 635px;
}
.basic .cashback-menu {
  margin-top: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}
.basic .cashback-menu .cashback-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  padding: 15px;
  border-bottom: 2px solid var(--gray-blue-grey-blue-95, #EDEFF2);
}
.basic .cashback-menu .cashback-top .types ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}
.basic .cashback-menu .cashback-top .types ul a {
  text-decoration: none;
  color: var(--gray-blue-grey-blue-70, #7D8FB3);
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
}
.basic .cashback-menu .cashback-top .types ul .topman a {
  color: var(--purple-purple, #83F);
}
.basic .cashback-menu .cashback-top .another {
  display: flex;
  gap: 3px;
  padding: 17px 9px;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  cursor: pointer;
}
.basic .cashback-menu .cashback-top .another > div {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(184, 182, 182);
}
.basic .cashback-menu .cashback-top img {
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}
.basic .cashback-menu .cashbacks {
  height: 605px;
  overflow-x: scroll;
  border-radius: 30px;
}
.basic .cashback-menu .cashback-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid var(--gray-blue-grey-blue-95, #EDEFF2);
  border-right: 2px solid var(--gray-blue-grey-blue-95, #EDEFF2);
}
.basic .cashback-menu .cashback-bottom .cashback-for {
  display: flex;
  align-items: center;
  gap: 20px;
}
.basic .cashback-menu .cashback-bottom .cashback-for p {
  color: var(--gray-blue-grey-blue-70, #7D8FB3);
  font-size: 13px;
  font-weight: 700;
}
.basic .cashback-menu .cashback-bottom .cashback-for h5 {
  color: var(--gray-blue-grey-blue-50, #4D5E80);
  font-size: 13px;
  font-weight: 700;
}
.basic .cashback-menu .cashback-bottom .cashback p {
  color: var(--green-green, #29CC39);
  font-size: 12px;
  font-weight: 900;
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  background: var(--green-green-5, rgba(41, 204, 57, 0.05));
}
.basic .cashback-menu .cashback-bottom .cashback-price {
  display: flex;
  gap: 20px;
  align-items: center;
}
.basic .cashback-menu .cashback-bottom .cashback-price p {
  color: var(--gray-blue-grey-blue-60, #6B7A99);
  font-size: 12px;
  font-weight: 900;
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  background: var(--gray-blue-grey-blue-98, #F7F8FA);
}
.basic .cashback-menu .cashback-bottom .cashback-price .another {
  display: flex;
  gap: 3px;
  padding: 17px 9px;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  cursor: pointer;
}
.basic .cashback-menu .cashback-bottom .cashback-price .another > div {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(184, 182, 182);
}
.basic .cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.basic .cards .leto-card {
  display: flex;
  gap: 30px;
}
.basic .cards p {
  color: var(--gray-blue-grey-blue-50, #4D5E80);
  font-size: 12px;
  font-weight: 700;
}
.basic .cards .card-small {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 35px 55px;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
}
.basic .cards .card-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}
.basic .cards .card-big .card-images {
  display: flex;
  align-items: center;
  gap: 15px;
}/*# sourceMappingURL=style.css.map */