* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: grey;

  a {
    text-decoration: none;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    gap: 35px;

    .burger {
      width: 50px;
      height: 50px;
      background-color: white;
      padding: 17px 16px;
      border-radius: 50%;
    }

    h3 {
      color: var(--gray-blue-grey-blue-50, #4D5E80);
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      line-height: 30px;
    }
  }

  .links ul{

    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;

    li a{

    }



  }


}
